<!DOCTYPE html>
<html manifest="manifest.appcache">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>oTranscribe</title>

</head>

<body>
    <div id="otranscribe-panel">
        <script type="text/javascript" src="l10n.js"></script>
        <link rel="prefetch" type="application/l10n" href="data.ini" />

        <%= require('html-loader!./html/topbar.htm').default %>

        <%= require('html-loader?!./html/textbox.htm').default %>

        <%= require('html-loader!./html/settings.htm').default %>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">    
    </div>
</body>

</html>
