@mixin arrow-box {
	position: relative;
       
    &:after {
        top: 21%;
        left: 0%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(51,51,51,0);
        border-left-color: #262626;
        border-width: 15px;
        margin-left: 260px;
    }
}

@mixin export-block {

    display: block;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    
//    transition: background-color 0.5s, border 0.5s;    
//    -webkit-transition: background-color 0.5s, border 0.5s;    
}

@mixin export-button {
    background: #555;
    cursor: pointer;
    border: none;
    &:hover{
        background: $accent;
    }   
}

.export-panel {
    position: fixed;
    left: 40%;
    width: 20%;
    padding: 5px 5px 2px 5px;
    background: $dark;
    top: 12%;
    z-index: 1000;
    box-shadow: 0px 0px 10px #666;
    -webkit-box-shadow: 0px 0px 10px #666;
    padding-bottom: 20px;
    display: none;

    &.active {
        display: block;
    }
    
    p {
        padding: 0 10px 10px 10px;
        font-size: 11px;
        line-height: 13px;
        a {
            color: white;
        }
    }
    
    .export-title {
        font-weight: bold;
        margin: 10px;
        font-size: 16px;
        color: white;
    }
    
    .export-block-md, .export-block-txt {
        @include export-block;
        @include export-button;
    }
    
    .export-block-gd {
        @include export-block;
        border: 1px solid #555;
        padding: 8px 10px;
        cursor: default;
        
        &.unauth{
            text-align: left;            
            .sign-in { display: inline-block; }
        }

        &.gd-authenticated {
            @include export-button;
            text-align: center;
        }
        
        .sign-in {
            @include export-button;
            display: none;
            font-size: 12px;
            padding: 6px;
            vertical-align: top;
            margin: -5px -5px 0 0;
            float: right;
            border-radius: 2px;
        }
    }
}

